name: Continuous Integration (CI)

on: pull_request

permissions:
  contents: read

jobs:
  formatting:
    name: Formatting
    runs-on: ubuntu-latest
    strategy:
      matrix:
        directory: [advent_of_code/2021/day1/haskell, advent_of_code/2021/day2/haskell]
        language: [haskell, shell]
    steps:
      - name: Checkout code.
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Check formatting.
        run: cd "${{ matrix.directory}}" && make check-${{ matrix.language }}-formatting
  linting:
    name: Linting
    runs-on: ubuntu-latest
    strategy:
      matrix:
        directory: [advent_of_code/2021/day1/haskell, advent_of_code/2021/day2/haskell]
        language: [haskell]
    steps:
      - name: Checkout code.
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Check linting.
        run: cd "${{ matrix.directory}}" && make check-${{ matrix.language }}-linting
  compile:
    name: Compile
    runs-on: ubuntu-latest
    strategy:
      matrix:
        directory: [advent_of_code/2021/day1/haskell, advent_of_code/2021/day2/haskell]
    steps:
      - name: Checkout code.
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Compile.
        run: cd "${{ matrix.directory}}" && make compile
  unit-test:
    name: Unit Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        directory: [advent_of_code/2021/day1/haskell, advent_of_code/2021/day2/haskell]
    steps:
      - name: Checkout code.
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Unit test.
        run: cd "${{ matrix.directory}}" && make unit-test
