name: Continuous Integration (CI)

on: pull_request

permissions:
  contents: read

jobs:
  formatting:
    name: Formatting
    runs-on: ubuntu-latest
    strategy:
      matrix:
        directory: [general/factorial/common_lisp, general/fibonacci/common_lisp, general/largest_number/common_lisp, general/sum_list/common_lisp]
        language: [common-lisp]
    steps:
      - name: Checkout code.
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Check formatting.
        run: cd "${{ matrix.directory}}" && make check-${{ matrix.language }}-formatting
