name: Continuous Integration (CI)

on: pull_request

permissions:
  contents: read

jobs:
  formatting:
    name: Formatting
    runs-on: ${{ matrix.architecture }}
    strategy:
      matrix:
        architecture: [ubuntu-24.04, ubuntu-24.04-arm]
        directory: [general/factorial/common_lisp, general/fibonacci/common_lisp, general/largest_number/common_lisp, general/sum_list/common_lisp]
        language: [common-lisp]
    steps:
      - name: Checkout code.
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Nix.
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
      - name: Check formatting.
        run: cd "${{ matrix.directory }}" && nix develop -c make check-${{ matrix.language }}-formatting
